body.Welcome {
    background-image: url('pictures/sombrero.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body.Pictures1 {
    background-image: url('pictures/pictures.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body.Contact {
    background-image: url('pictures/Contact.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body.Menu {
    background-image: url('pictures/food.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body.Restaurant {
    background-image: url('pictures/restaurant.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: black;
    background-size: cover;
    opacity: 0.8;
}

.jumbotron h1 {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}

.jumbotron p {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 25px
}

.container-fluid {
    background: black;
    background-size: cover;
    opacity: 0.9;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: 25.5vw;
}

.card {
    background-color: black;
    opacity: 0.9;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.card h5 {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.card p {
    color: white;
    font-weight: bold;
}

#fa-facebook-square {
    text-decoration: white;
    opacity: 1.0;
}

.footer-dark {
    background-color: black;
    background-size: cover;
    opacity: 0.7;
}

.footer-dark h3 {
    color: white;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    color: white padding: 0;
    opacity: 0.7;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    color: white;
    opacity: 0.7;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px
    }
}

.footer-dark .item.social>a {
    font-size: 25px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    opacity: 0.8;
}

.footer-dark .item.social>a:hover {
    opacity: 0.6;
}

.card-columns.text-truncate h6 {
    color: white;
    font-weight: bold;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}


/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

button {
    background-image: url("pictures/Logo.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    font-size: 2em;
}

.form-group {
    text-decoration-color: white;
}

.container1 {
    color: white;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@media screen and (max-width:320px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
}

@media screen and (min-width:320px) and (max-width:640px) {
    /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
}